<!-- offset-top should equal the less expression
     @navbar-affix-top-height - @navbar-affix-height -->
<nav class="navbar-default affix-top" data-spy="affix" data-offset-top="50">
  <div class="container">
    <div class="navbar-header" id="header" style="position: relative;">
      <a class="navbar-brand" href="{{ SITEURL }}/">{{ SITENAME }}</a>
      <svg id="logo" style="display: none"></svg>
    </div>
    <ul class="main-navigation nav navbar-nav navbar-right">
      {% for title, link in MENUITEMS %}
        <li><a href="{{ link }}">{{ title }}</a></li>
      {% endfor %}
      {% if DISPLAY_PAGES_ON_MENU %}
        {% for page in pages %}
          <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
        {% if DISPLAY_CATEGORIES_ON_MENU %}
        {% for cat, null in categories %}
        <li {% if cat == category %}class="active"{% endif %}>
        <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
        </li>
        {% endfor %}
        {% endif %}
      {% endif %}
    </ul>
  </div>
</nav>
