{% extends 'base.html' %}
{% block header %}
<nav class"navbar-default" style="padding-top: 20px;">
  <div class="container">
    <a href="{{ SITEURL }}/">← Back</a>
  </div>
</nav>
{% endblock %}
{% block content %}
<header>
  <h1 class="entry-title">{{ article.title|striptags }}</h1>
  <p class="meta">
    <time datetime="{{ article.date.isoformat() }}" pubdate>{{ article.locale_date }}</time>
    {% if X_MIN_READ %}
      &ndash; &#128339; {{ article.stats['read_mins'] }} min read
    {% endif %}
  </p>
</header>

<div class="entry-content">{{ article.content }}</div>
{% endblock %}
