@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700);

body {
  margin: 0px;
}

h1.entry-title a {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}

h1.entry-title a:hover {
  color: darkblue;
}

header.title {
  background-color: white;
  width: 100%;
}

header.title h1 {
  margin: 5px 0px 5px 0px;
  font-family: 'PT Serif';
}

header.title.affix {
  position: fixed;
  top: 0;
  border-bottom: 1px solid black;
}

header.title.affix + div.content {
  padding-top: 49px;
}

p.meta {
  color: #aaa;
  font-size: 16px;
}
